img {
    /*border-radius: 5%;*/
    width: 210px;
    height: 332.15px;
}

.card-container {
    margin-top: 150px;
}

.ace {
    box-shadow: 0 3px 10px;
    position: absolute;
}

#first {
    transform: rotate(-40deg);
    z-index: -2;
    left: 200px;
}

#second {
    transform: rotate(-15deg);
    z-index: -1;
    left: 270px;
}

#third {
    transform: rotate(0deg);
    z-index: 0;
    left: 310px;
}

#fourth {
    transform: rotate(15deg);
    z-index: 1;
    left: 380px;
    top: 180px;
}

#fifth {
    transform: rotate(30deg);
    z-index: 2;
    left: 420px;
    top: 200px;
}